<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Adventure</title>
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../styles/HomeStyles.css" />
  <body>
    <div class="navbar">
      <ul class="options">
        <li>
          <a href="#america"><span class="dot">1</span></a>
        </li>
        <li>
          <a href="#europe"><span class="dot">2</span></a>
        </li>
        <li>
          <a href="#africa"><span class="dot">3</span></a>
        </li>
        <li>
          <a href="#asia"><span class="dot">4</span></a>
        </li>
        <li>
          <a href="#oceania"><span class="dot">5</span></a>
        </li>
      </ul>
    </div>
    <a id="america"></a> <a id="europe"></a> <a id="africa"></a>
    <a id="asia"></a><a id="oceania"></a>
    <section class="main">
      <div class="banner america">
        <p>America</p>
      </div>

      <div class="banner europe">
        <p>Europe</p>
      </div>
      <div class="banner africa">
        <p>Africa</p>
      </div>

      <div class="banner asia">
        <p>Asia</p>
      </div>
      <div class="banner oceania">
        <p>Oceania</p>
      </div>
    </section>
    <section class="about"></section>
  </body>
</html>
