<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Adventure</title>
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../styles/HeaderStyles.css" />
  <link rel="stylesheet" href="../styles/FooterStyles.css" />
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/HomeStyles.css" />
  <body>
      <a id="america"></a> <a id="europe"></a> <a id="africa"></a>
    <a id="asia"></a><a id="oceania"></a>

    <header class="nav">
      <img
        class="logo"
        src="../../img/AdventureTravel.svg"
        alt="AdventureTravel"
      />
      <img class="burguer" src="../../img/hamburger-menu.svg" alt="menu" />
      <nav>
        <ul class="nav-sections">
          <li><a class="active" >Home</a></li>
          <li><a href="Services.html">Services</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="main">  
      <div class="menu">
        <div class="line"></div>
        <div class="navigator">
          <a href="#america"><span class="dot">1</span></a>
          <a href="#europe"><span class="dot">2</span></a>
          <a href="#africa"><span class="dot">3</span></a>
          <a href="#asia"><span class="dot">4</span></a>
          <a href="#oceania"><span class="dot">5</span></a>
        </div>
      </div>
      
      <!-- BANNER AMERICA-->
      <div class="banner america">
        <div class="content">
          <div class="background">
            <img src="../../img/america/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="explorer">
            <h2 class="prev-continent"><a href="#oceania">Oceania</a></h2>
            <div class="info">
              <h1 class="title">America</h1>
              <p class="description">
                The heart of America beats through towering forests, rolling
                fields, highland deserts, and unconventional heavenly beaches.
                In addition, this continent has three wonders of the modern
                world.
              </p>
              <button class="cta">
                <span>Explore</span>
                <img src="../../img/arrow.svg" />
              </button>
            </div>
            <h2 class="prev-continent"><a href="#europe">Europe</a></h2>
          </div>
          <div class="countries">
            <div class="gallery" id="gallery-america">
              <div class="country-main">
                <p>Brazil</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span class="vote"></span
                  ><span></span>
                </div>
                <img class="photo" src="../../img/america/brazil.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Mexico</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span></span><span></span>
                </div>
                <img class="photo" src="../../img/america/mexico.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Canada</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span class="vote"><span></span class="vote"><span></span>
                </div>
                <img class="photo" src="../../img/america/canada.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Bahamas</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span class="vote"><span class="vote"></span class="vote"><span class="vote"></span>
                </div>
                <img class="photo" src="../../img/america/bahamas.jpg" alt="" />
              </div>
            </div>
            <div class="buttons">
              <button  class="prev" id="prev-america">
                <img src="../../img/back.svg" alt="" />
              </button>
              <button class="next" id="next-america">
                <img src="../../img/next.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- BANNER EUROPE-->

      <div class="banner europe">
        <div class="content">
          <div class="background">
            <img src="../../img/europe/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="explorer">
            <h2 class="prev-continent"><a href="#america">America</a></h2>
            <div class="info">
              <h1 class="title">Europe</h1>
              <p class="description">
                Europe is a continent to discover, to explore many of the most 
                beautiful cities in the world, from the oldest to the most modern. 
                Visiting Europe is one of the most exciting experiences that every 
                heart traveler should experience.
              </p>
              <button class="cta">
                <span>Explore</span>
                <img src="../../img/arrow.svg" />
              </button>
            </div>
            <h2 class="prev-continent"><a href="#africa">Africa</a></h2>
          </div>
          <div class="countries">
            <div class="gallery" id="gallery-europe">
              <div class="country-main">
                <p>Iceland</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span class="vote"></span
                  ><span></span>
                </div>
                <img class="photo" src="../../img/europe/iceland.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Norway</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span></span><span></span>
                </div>
                <img class="photo" src="../../img/europe/norway.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Holland</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span class="vote"><span></span class="vote"><span></span>
                </div>
                <img class="photo" src="../../img/europe/holland.jpg" alt="" />
              </div>
            </div>
            <div class="buttons">
              <button class="prev" id="prev-europe">
                <img src="../../img/back.svg" alt="" />
              </button>
              <button class="next" id="next-europe">
                <img src="../../img/next.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

    <!-- BANNER AFRICA-->

    <div class="banner africa">
      <div class="content">
        <div class="background">
          <img src="../../img/africa/background.jpg" alt="" />
        </div>
        <div class="filter"></div>
        <div class="explorer">
          <h2 class="prev-continent"><a href="#europe">Europe</a></h2>
          <div class="info">
            <h1 class="title">Africa</h1>
            <p class="description">
              The heart of America beats through towering forests, rolling fields, highland deserts, and unconventional heavenly beaches.
              In addition, this continent has three wonders of the modern
              world.
            </p>
            <button class="cta">
              <span>Explore</span>
              <img src="../../img/arrow.svg" />
            </button>
          </div>
          <h2 class="prev-continent"><a href="#asia">Asia</a></h2>
        </div>
        <div class="countries">
          <div class="gallery" id="gallery-africa">
            <div class="country-main">
              <p>Egypt</p>
              <div class="rating">
                <span class="vote"></span><span class="vote"></span
                ><span class="vote"></span><span class="vote"></span
                ><span></span>
              </div>
              <img class="photo" src="../../img/africa/egypth.jpg" alt="" />
            </div>
            <div class="country">
              <p class="title">South Africa</p>
              <div class="rating">
                <span class="vote"></span><span class="vote"></span
                ><span class="vote"></span><span></span><span></span>
              </div>
              <img class="photo" src="../../img/africa/south-africa.jpg" alt="" />
            </div>
            <div class="country">
              <p class="title">Morocco</p>
              <div class="rating">
                <span class="vote"></span><span class="vote"></span
                ><span class="vote"></span class="vote"><span></span class="vote"><span></span>
              </div>
              <img class="photo" src="../../img/africa/morocco.jpg" alt="" />
            </div>
          </div>
          <div class="buttons">
            <button class="prev" id="prev-africa">
              <img src="../../img/back.svg" alt="" />
            </button>
            <button class="next" id="next-africa">
              <img src="../../img/next.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
      </div>

      <!-- BANNER ASIA-->

      <div class="banner asia">
        <div class="content">
          <div class="background">
            <img src="../../img/asia/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="explorer">
            <h2 class="prev-continent"><a href="#africa">Africa</a></h2>
            <div class="info">
              <h1 class="title">Asia</h1>
              <p class="description">
                Asia is an excellent opportunity to learn about ancient cultures, 
                exotic nature, traditions, unique and unforgettable landscapes, an 
                incredible opportunity to continue knowing the world.
              </p>
              <button class="cta">
                <span>Explore</span>
                <img src="../../img/arrow.svg" />
              </button>
            </div>
            <h2 class="prev-continent"><a href="#oceania">Oceania</a></h2>
          </div>
          <div class="countries">
            <div class="gallery" id="gallery-asia">
              <div class="country-main">
                <p>Japon</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span class="vote"></span
                  ><span></span>
                </div>
                <img class="photo" src="../../img/asia/japon.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Maldives</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span></span><span></span>
                </div>
                <img class="photo" src="../../img/asia/maldives.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Thailand</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span class="vote"><span></span class="vote"><span></span>
                </div>
                <img class="photo" src="../../img/asia/thailand.jpg" alt="" />
              </div>
            </div>
            <div class="buttons">
              <button class="prev" id="prev-asia">
                <img src="../../img/back.svg" alt="" />
              </button>
              <button class="next" id="next-asia">
                <img src="../../img/next.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        </div>

      <!-- BANNER OCEANIA-->

      <div class="banner oceania">
        <div class="content">
          <div class="background">
            <img src="../../img/oceania/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="explorer">
            <h2 class="prev-continent"><a href="#asia">Asia</a></h2>
            <div class="info">
              <h1 class="title">Oceania</h1>
              <p class="description">
                Oceania is a continent that brings together the most 
                beautiful places on the planet. It extends into all of the Pacific Ocean.
                Oceania is an ideal place for those who want to live exciting adventures-discovered.
              </p>
              <button class="cta">
                <span>Explore</span>
                <img src="../../img/arrow.svg" />
              </button>
            </div>
            <h2 class="prev-continent"><a href="#america">America</a></h2>
          </div>
          <div class="countries">
            <div class="gallery" id="gallery-oceania">
              <div class="country-main">
                <p>Fiji</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span class="vote"></span
                  ><span></span>
                </div>
                <img class="photo" src="../../img/oceania/fiji.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">New Zealand</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span><span></span><span></span>
                </div>
                <img class="photo" src="../../img/oceania/new zealand.jpg" alt="" />
              </div>
              <div class="country">
                <p class="title">Australia</p>
                <div class="rating">
                  <span class="vote"></span><span class="vote"></span
                  ><span class="vote"></span class="vote"><span></span class="vote"><span></span>
                </div>
                <img class="photo" src="../../img/oceania/australia.jpg" alt="" />
              </div>
            </div>
            <div class="buttons">
              <button class="prev" id="prev-oceania">
                <img src="../../img/back.svg" alt="" />
              </button>
              <button class="next" id="next-oceania">
                <img src="../../img/next.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
        </div>
    </section>
    <a class="section-services" id="tour"></a>
    <a class="section-services" id="travel"></a>
    <a class="section-services" id="hotel"></a>
    
    <section class="services">
      <div class="content">
        <div class="service tour">
          <div class="background">
            <img src="../../img/services/tour/background.jfif" alt="" />
          </div>
          <div class="filter"></div>
          <div class="navigator">
            <a  href="#travel" class="next button"><img src="../../img/next.svg" alt=""></a>
          </div>
          <div class="info">
            <h1 class="shadow">Tour</h1>
            <h2 class="title">Nature Tour</h2>
            <p class="description">Encourage to know the best natural tours and enjoy its essence.</p>
            <a href="/src/views/Services.html#tour" class="cta">
              <p>See more</p>
              <img src="../../img/arrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="service travel">
          <div class="background">
            <img src="../../img/services/travel/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="navigator">
            <a href="#tour" class="prev button"><img src="../../img/back.svg" alt=""></a>
            <a href="#hotel" class="next button"><img src="../../img/next.svg" alt=""></a>
          </div>
          <div class="info">
            <h1 class="shadow">Travel</h1>
            <h2 class="title">Nature Travel</h2>
            <p class="description">Live incredible experience traveling in the most comfortable way for you.</p>
            <a href="/src/views/Services.html#travel" class="cta">
              <p>See more</p>
              <img src="../../img/arrow.svg" alt="">
            </a>
          </div>
        </div>
        <div class="service hotel">
          <div class="background">
            <img src="../../img/services/hotel/background.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="navigator">
            <a href="#travel" class="prev button"><img src="../../img/back.svg" alt=""></a>
          </div>
          <div class="info">
            <h1 class="shadow">Hotel</h1>
            <h2 class="title">Select Hotel</h2>
            <p class="description">Discover your perfect hotel to enjoy the best experience.</p>
            <a href="/src/views/Services.html#hotel" class="cta">
              <p>See more</p>
              <img src="../../img/arrow.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="about">
      <div class="content">
          <div class="background">
            <img src="../../img/about.jpg" alt="" />
          </div>
          <div class="filter"></div>
          <div class="info">
            <h2 class="title">Hello, we’re a different way of traveling</h2>
            <p class="description">We are a travel agency committed to 
              providing our clients with the best value and quality on 
              each trip, offering the best possible experience and 
              committing ourselves to values, integrity and dedication 
              to customer service. We seek to offer the attention and 
              security that our clients deserve, as well as offering 
              accessible and excellent options that adapt to the needs 
              of each one.</p>
          </div>
      </div>
    </section>
    <footer class="footer-background">
      <section class="footer-container">
        <img class="mountain" src="/img/footer-illustration.svg" alt="montain">
        <section class="information">
          <p class="title-footer" >Contacts</p>
          <section class="info-adventure">
            <p class="email"> info@adventuretravel.mx</p>
            <p class="cellphone"> +52 (999)-464-9044</p>
          </section>
        </section>
        <section class="images"> 
          <img src="/img/facebook.svg" alt="facebook">
          <img src="/img/instagram.svg" alt="instagram">
          <img src="/img/twitter.svg" alt="twitter">
          <img src="/img/youtube.svg" alt="youtube">
        </section>
      </section>
    </footer>
  </body>
<script>
  window.onload = function() {
    var buttonsNext =document.getElementsByClassName("next");
    
    for(var i=0; i<buttonsNext.length; i++){
      buttonsNext[i].onclick= function(){
        var continent= this.id.split('-')[1];
        moveGallery(document.getElementById("gallery-"+continent), 200);
      }
    }

    var buttonsPrev =document.getElementsByClassName("prev");
    for(var i=0; i<buttonsPrev.length; i++){
      buttonsPrev[i].onclick= function(){
        var continent= this.id.split('-')[1];
        moveGallery(document.getElementById("gallery-"+continent), -200);
      }
    }
  }
  function moveGallery(gallery, dimensionX){
    gallery.scroll(gallery.scrollLeft+dimensionX,0);
  }

</script>

</html>
