<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Adventure</title>
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../styles/HomeStyles.css" />
  <body>
    <div class="navbar">
      <ul class="options">
        <li>
          <a href="#america"><span class="dot">1</span></a>
        </li>
        <li>
          <a href="#europe"><span class="dot">2</span></a>
        </li>
        <li>
          <a href="#africa"><span class="dot">3</span></a>
        </li>
        <li>
          <a href="#asia"><span class="dot">4</span></a>
        </li>
        <li>
          <a href="#oceania"><span class="dot">5</span></a>
        </li>
      </ul>
    </div>
    <a id="america"></a> <a id="europe"></a> <a id="africa"></a>
    <a id="asia"></a><a id="oceania"></a>
    <section class="main">
      <div class="banner america">
        <div class="content">
          <div class="background">
            <img src="../../img/america/background.jpg" alt="" />
          </div>
          <div class="filter"></div>

          <div class="explorer">
            <h2 class="prev-continent">Oceania</h2>
            <div class="info">
              <h1 class="title">America</h1>
              <p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati, tempora temporibus aperiam, enim corrupti nobis nam
                fuga saepe ex voluptatum reiciendis laborum perspiciatis! Ab
                sapiente cupiditate obcaecati praesentium similique nam.
              </p>
            </div>
            <button class="cta">Explore</button>
            <h2 class="prev-continent">Europe</h2>
          </div>
          <div class="countries">
            <div class="main-country">
              <p>Brazil</p>
              <div class="dotes"></div>
              <img
                src="../../img/america/brazil.jpg"
                height="200px"
                width="100px"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="banner europe">
        <p>Europe</p>
      </div>
      <div class="banner africa">
        <p>Africa</p>
      </div>

      <div class="banner asia">
        <p>Asia</p>
      </div>
      <div class="banner oceania">
        <p>Oceania</p>
      </div>
    </section>

    <section class="about"></section>
  </body>
</html>
