<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&family=Roboto:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/HeaderStyles.css" />
    <link rel="stylesheet" href="../styles/FooterStyles.css" />
    <link rel="stylesheet" href="../styles/ServicesStyles.css" />
  </head>

  <body>
    <section class="background" id="travel">
      <section class="background-image-travel">
        <header class="nav">
          <img
            class="logo"
            src="../../img/AdventureTravel.svg"
            alt="AdventureTravel"
          />
          <img class="burguer" src="../../img/hamburger-menu.svg" alt="menu" />
          <nav>
            <ul class="nav-sections">
              <li><a href="Home.html">Home</a></li>
              <li><a class="active">Services</a></li>
              <li><a href="Contact.html">Contact</a></li>
            </ul>
          </nav>
        </header>

        <div class="container">
          <section class="value-proposition">
            <h2 class="emphasis">Travel</h2>
            <h3 class="title">Nature travel</h3>
            <p class="text">
              Live incredible experience traveling in the most comfortable way
              for you.
            </p>
          </section>
        </div>

        <div class="cards-container">
          <section class="cards">
            <div class="card">
              <img
                class="img"
                src="/img/services/travel/Airplane.jfif"
                alt="airplane"
              />
              <h4 class="title-card">
                Airplane travel
              </h4>
              <p>
                Discover the most accessible and safest airlines for you.
              </p>
            </div>
            <div class="card">
              <img
                class="img"
                src="/img/services/travel/Train.jpg"
                alt="train"
              />
              <h4 class="title-card">
                Train travel
              </h4>
              <p>
                Know the train routes and schedules that are at your disposal.
              </p>
            </div>
            <div class="card">
              <img
                class="img"
                src="/img/services/travel/Bicycle.jfif"
                alt="Bicycle"
              />
              <h4 class="title-card">
                Bicycle trips
              </h4>
              <p>
                Learn how fun it can be to travel by bike and admire the
                landscapes.
              </p>
            </div>
          </section>
        </div>
      </section>
    </section>
    <section class="background" id="hotel">
      <section class="background-image-hotel">
        <div class="container">
          <section class="value-proposition">
            <h2 class="emphasis">Hotel</h2>
            <h3 class="title">Select Hotel</h3>
            <p class="text">
              Discover your perfect hotel to enjoy the best experience.
            </p>
          </section>
        </div>

        <div class="cards-container">
          <section class="cards">
            <div class="card">
              <img
                class="img"
                src="/img/services/hotel/Hotel.jfif"
                alt="hotel"
              />
              <h4 class="title-card">
                Eco-friendly hotel
              </h4>
              <p>
                For those who are more adept at environmental movement, these
                hotel options are excellent for you.
              </p>
            </div>
            <div class="card">
              <img
                class="img"
                src="/img/services/hotel/Delux.jfif"
                alt="delux"
              />
              <h4 class="title-card">
                Delux natural hotel
              </h4>
              <p>
                If you want to spend with the best comforts in a natural
                environment.
              </p>
            </div>
            <div class="card">
              <img
                class="img"
                src="/img/services/hotel/Hostel.jfif"
                alt="hostel"
              />
              <h4 class="title-card">
                Eco-friendly hostel
              </h4>
              <p>
                Here you can find the best hostels to enjoy an eco-friendly
                experience.
              </p>
            </div>
          </section>
        </div>
      </section>
    </section>
    <section class="background" id="tour">
      <section class="background-image-tour">
        <div class="container">
          <section class="value-proposition">
            <h2 class="emphasis">Tour</h2>
            <h3 class="title">Nature tour</h3>
            <p class="text">
              Encourage to know the best natural tours and enjoy its essence.
            </p>
          </section>
        </div>

        <div class="cards-container">
          <section class="cards">
            <div class="card">
              <img
                class="img"
                src="/img/services/tour/NatureConnection.jfif"
                alt="nature"
              />
              <h4 class="title-card">
                Nature tours
              </h4>
              <p>
                Surround yourself with the best views and landscapes that
                natural tours offer you.
              </p>
            </div>
            <div class="card">
              <img class="img" src="/img/services/tour/Camps.jfif" alt="camp" />
              <h4 class="title-card">
                Eco-friendly camps
              </h4>
              <p>
                Discover the best camps in tune with nature and care for the
                planet.
              </p>
            </div>
            <div class="card">
              <img
                class="img"
                src="/img/services/tour/Excursion.jfif"
                alt="Excursions"
              />
              <h4 class="title-card">
                Adventure excursions
              </h4>
              <p>
                Live unforgettable adventures in the different excursions we
                offer for you.
              </p>
            </div>
          </section>
        </div>
      </section>
    </section>
    <footer class="footer-background">
      <section class="footer-container">
        <img class="mountain" src="/img/footer-illustration.svg" alt="montain">
        <section class="information">
          <p class="title-footer" >Contacts</p>
          <section class="info-adventure">
            <p class="email"> info@adventuretravel.mx</p>
            <p class="cellphone"> +52 (999)-464-9044</p>
          </section>
        </section>
        <section class="images"> 
          <img src="/img/facebook.svg" alt="facebook">
          <img src="/img/instagram.svg" alt="instagram">
          <img src="/img/twitter.svg" alt="twitter">
          <img src="/img/youtube.svg" alt="youtube">
        </section>
      </section>
    </footer>
  </body>
</html>
