a {
  text-decoration: none;
}

.main,
.about,
.services,
.services .navigator,
.about,
.background,
.content,
.filter {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.main,
.services {
  overflow-x: hidden;
  overflow-y: hidden;
}

.about {
  margin-top: 200vh;
}

.banner .filter {
  background: linear-gradient(rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0) 0%);
}

.services .filter,
.about .filter {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.2) 0%);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
}

.line {
  position: absolute;
  height: 70%;
  width: 0.2em;
  margin-left: 2em;
  background: var(--primary-ten);
  z-index: 1;
}

.main .navigator {
  margin-left: 2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 70%;
  justify-content: space-between;
}

.main .navigator .dot {
  height: 2em;
  width: 2em;
  background-color: var(--primary-twenty);
  border-radius: 50%;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-fifty);
  z-index: 3;
}

a[id="america"]:target ~ .main div.banner {
  transform: translateY(0%);
}

a[id="europe"]:target ~ .main div.banner {
  transform: translateY(-100%);
}

a[id="africa"]:target ~ .main div.banner {
  transform: translateY(-200%);
}

a[id="asia"]:target ~ .main div.banner {
  transform: translateY(-300%);
}

a[id="oceania"]:target ~ .main div.banner {
  transform: translateY(-400%);
}

a[id="tour"]:target ~ .services div.content {
  transform: translateY(0%);
}

a[id="travel"]:target ~ .services div.content {
  transform: translateX(-100%);
}

a[id="hotel"]:target ~ .services div.content {
  transform: translateX(-200%);
}

.banner {
  width: 100%;
  height: 100vh;
  transform: translateZ(0);
  transition: transform 1s ease-in-out;
  z-index: 1;
}
.content {
  display: flex;
}
.explorer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  min-width: 40%;
  margin-left: 6em;
}

.info .title {
  font-family: var(--font-title);
  font-size: 6em;
}

.info .description {
  padding: 2em 0;
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 1em;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.025em;
}

.info .cta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: var(--primary-color);
  outline: none;
  font-size: 1em;
  border: none;
  font-family: var(--font-body);
  font-weight: 600;
  border-radius: 0.3em;
  cursor: pointer;
  padding: 1em;
}

.america .info .cta {
  background-color: var(--america);
}

.europe .info .cta {
  background-color: var(--europe);
}

.africa .info .cta {
  background-color: var(--africa);
}

.asia .info .cta {
  background-color: var(--asia);
}

.oceania .info .cta {
  background-color: var(--oceania);
}

.service .info .cta {
  width: 9em;
  background-color: var(--primary-fifty);
}

.info .cta img {
  margin-left: 2.5em;
  opacity: 0.6;
  height: 0.8em;
}

.banner .prev-continent,
.services .info .shadow {
  font-family: var(--font-title);
  font-size: 3em;
  background: -webkit-linear-gradient(var(--primary-text), var(--transparent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .prev-continent:first-child {
  margin-top: 1em;
}

.countries {
  margin-left: 10%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating span {
  height: 0.5em;
  width: 0.5em;
  margin-right: 0.25em;
  background-color: var(--white-fifty);
  border-radius: 50%;
  display: inline-block;
}

.rating .vote {
  background-color: var(--primary-color);
}

.countries .gallery {
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  padding-bottom: 2em;
  align-items: flex-end;
}

.countries .gallery .photo {
  margin-right: 2em;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
}

.countries .gallery .country:last-child .photo {
  margin-right: 200%;
}

.countries .gallery .country-main .photo {
  height: 22em;
  width: 16em;
}

.countries .gallery .country .photo {
  height: 20em;
  width: 14em;
}

.countries .buttons button {
  height: 2em;
  width: 2em;
  margin: 0.3em;
  text-align: center;
  border: none;
  outline: none;
  font-size: 2em;
  color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-fifty);
  cursor: pointer;
}

.background img {
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.section-services {
  position: absolute;
  margin-top: 100vh;
}

.services {
  margin-top: 100vh;
  max-width: 100%;
}

.services .content {
  height: 100vh;
  display: flex;
  position: relative;
  transition: transform 1s ease-in-out;
}

.services .content .service {
  min-width: 100%;
  height: 100vh;
}
.services .navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services .tour .navigator {
  justify-content: flex-end;
}

.services .hotel .navigator {
  justify-content: flex-start;
}

.services .navigator .button {
  padding: 3em 1.5em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-fifty);
}

.services .navigator .button.prev {
  border-radius: 0 1em 1em 0;
}

.services .navigator .button.next {
  border-radius: 1em 0 0 1em;
}

.services .info,
.about .info {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.services .info {
  width: 50%;
  justify-content: center;
  margin-left: 10em;
}

.services .info .shadow {
  font-size: 6em;
}

.services .info .title {
  font-size: 4em;
}

.services .info .cta img {
  margin-left: 0em;
}

.about .info {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
}

.about .info .title,
.about .info .description {
  text-align: right;
  margin-top: 1em;
  margin-right: 10%;
}

.about .info .title {
  font-family: var(--font-title);
  font-size: 5em;
  width: 70%;
}

.about .info .description {
  line-height: 2em;
  letter-spacing: 0.12em;
  width: 45%;
  font-size: 1em;
}

.footer-background {
  bottom: auto;
  margin-top: 300vh;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }

  .info .description {
    font-size: 2em;
  }

  .info .cta {
    font-size: 2em;
  }

  .countries .buttons button {
    font-size: 4em;
  }

  .about .info .description {
    font-size: 1.5em;
    width: 50%;
  }

  .footer-background {
    font-size: 2em;
  }
}

@media only screen and (max-width: 425px) {
  .menu,
  .banner .content .countries {
    display: none;
  }

  .background img {
    position: absolute;
    clip: rect(0px, 100%, 100%, 0px);
  }

  .banner .content .explorer {
    margin: 0 3em;
    width: 100%;
    text-align: center;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .info .title,
  .info .description {
    text-align: center;
  }

  .info .description {
    font-weight: 400;
  }

  .services .info {
    width: 60%;
  }

  .about .info {
    align-items: center;
  }

  .about .info .description {
    width: 80%;
    margin-right: 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.7em;
  }
}
